:root {
  --primary: #0093e9;
  --secondary: #01849b;
  --gradient-primary: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  --bg-size: 200% auto;
  --text-color: white;
  --font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: var(--font-family);
  color: var(--text-color);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  max-width: 1920px;
  background: linear-gradient(135deg, #014e5c, #01849b);
  background-attachment: fixed;
}

.jumbotron {
  background-color: var(--primary);
  background-image: var(--gradient-primary);
  background-size: var(--bg-size);
}

.jumbotron h1 {
  font-size: 50px;
}

h1 {
  text-align: center;
}

/* search and history */

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid rgb(0, 225, 255);
  background-color: var(--secondary);
}

.search-results > * {
  padding: 5px;
}

.search-history {
  border-right: solid rgb(0, 225, 255);
}

#search {
  padding: 10px;
  background-image: var(--gradient-primary);
  background-size: var(--bg-size);
  border-radius: 10px;
}

#history {
  margin: 5px auto;
  /* TODO: add border (?) */
  overflow: auto;
  max-height: 400px;
}

#history ol li {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  user-select: none;
  background-image: var(--gradient-primary);
}

#history ol li:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* same day weather */

#present-weather {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  background-image: var(--gradient-primary);
  background-size: var(--bg-size);
  border-radius: 10px;
}

#present-weather h2,
#present-weather ul {
  margin-top: auto;
  margin-bottom: auto;
}

#present-weather ul {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#present-weather li {
  text-align: center;
  margin: 5px;
}

#present-weather ul li:first-child {
  text-align: end;
}

#present-weather ul li:last-child {
  text-align: start;
}

/* five day forecast */

#five-day-weather {
  margin-top: 20px;
}

#five-day-weather h2 {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-image: var(--gradient-primary);
  background-size: var(--bg-size);
  border-radius: 10px;
}

#five-day-weather ol > li {
  max-width: 190px;
  padding: 5px;
  margin: 10px;
  background-color: var(--primary);
  background-image: var(--gradient-primary);
  background-size: var(--bg-size);
  border-radius: 10px;
}

.five-day-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 958px) {
  .search-history {
    padding: 10px;
    border-right: none;
    border-bottom: solid rgb(0, 225, 255);
  }

  .search-history > * {
    margin: auto;
    max-width: 500px;
  }
}
